<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Register -->
        <rule name="Register" stopProcessing="true">
          <match url="^register$" />
          <action type="Rewrite" url="register.php" />
        </rule>

        <!-- Login -->
        <rule name="Login" stopProcessing="true">
          <match url="^login$" />
          <action type="Rewrite" url="login.php" />
        </rule>

        <!-- Dashboard -->
        <rule name="Dashboard" stopProcessing="true">
          <match url="^dashboard$" />
          <action type="Rewrite" url="index.php" />
        </rule>

        <!-- Create Ticket -->
        <rule name="CreateTicket" stopProcessing="true">
          <match url="^create-ticket$" />
          <action type="Rewrite" url="create_ticket.php" />
        </rule>

        <!-- Admin -->
        <rule name="Admin" stopProcessing="true">
          <match url="^admin$" />
          <action type="Rewrite" url="admin.php" />
        </rule>

        <!-- Manage Tickets -->
        <rule name="ManageTickets" stopProcessing="true">
          <match url="^manage-tickets$" />
          <action type="Rewrite" url="manage_tickets.php" />
        </rule>

        <!-- Logout -->
        <rule name="Logout" stopProcessing="true">
          <match url="^logout$" />
          <action type="Rewrite" url="logout.php" />
        </rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
